@model IEnumerable<CustomJQueryPlugin.Models.Coffee>

<ul>
    @foreach (var coffee in Model)
    {
        <li id="@coffee.Id">@coffee.Type</li>
    }
</ul>

@section scripts{
    <script>
        $('ul').sortable({
            update: function (e, ui) {
                var order = $(this).sortable('toArray');
                $.ajax({
                    data: JSON.stringify(order),
                    type: 'POST',
                    url: '/apu/coffees/saveOrder',
                    contentType: 'application/json',
                    dataType: 'json'
                });
            }
        }).disableSelection();

    </script>
}